body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #D9C8AE;
    color: #000;
}

h1, h2, h3 {
    color: #000000;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    margin-top: 40px;
    border-bottom: 5px solid #000000;
    padding-bottom: 5px;
}
